html, body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, rgb(47, 82, 118), rgb(168, 217, 245));
        }
.tieu_de{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top: 1%;
    background-color: white;
    border-radius: 2%;
    position: fixed;
}
.thanh_cong_cu{
    height: 34px;
    width: 100%;
    margin-top: 30px;
    position: relative;
    display: flex;
    font-size: 13px;
    border-bottom: 1 px solid rgb(187, 189, 167);
}
.line {
    width: 0.7px; /* độ dài */
    height: 25px;
    background: rgb(167, 163, 163);
}
.link-text {
  font-family: Arial;
  color:black ; 
  background-color: transparent;
  text-decoration: none;
}
.link-text:visited {
  font-family: Arial;
  color:black;
  background-color: transparent;
  text-decoration: none;
  
  
}
.link-text:hover {
  font-family: Arial;
  color: black;
  background-color: transparent;
  text-decoration: none;
  
  
}
.link-text:active {
  font-family: Arial;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.o_nhap{
    width: 200px;
    height: 15px;
    padding: 12px 5px 0px 5px;
    border: 1px solid rgb(167, 163, 163);
    border-radius: 15px;
    position: relative;
    display: flex;
}
.nhap{
    position: relative;
    height: 14px;
    width: 186px;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 13px;

}

.banner{
    margin-top: 5px;
    height: 40px;
    width: 100%;
    position: sticky;
    display: flex;
    font-size: 13px;
    background-color: beige;
    border-bottom: 1 px solid rgb(116, 117, 105);
}
.thanh_phan{
    padding: 15px;
    width: fit-content;
}

tr{
    border-bottom: 1 px solid rgb(116, 117, 105);
}
clock{
    padding: 10px 5px 0px 5px; 
    cursor: pointer;
}